.container-fluid{
    background-image: url("https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wJTIwb24lMjBkZXNrfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    background-color: darkred;
}

